@import '../../styles/init.scss';

.bio {
  display: flex;
  padding: 0.7rem;
  @include box-shadow(3);
  @include border-radius(0.5rem);
  @include border-default();
  margin-bottom: 30px;

  .author-image {
    margin: 5px;
    min-width: 70px;
    @include border-radius(1rem);
  }

  .author-description {
    margin-left: 15px;
    word-break: break-all;

    .author-name {
      display: inline-block;
      font: {
        family: 'Segoe UI', sans-serif;
        size: 30px;
        weight: 600;
      }
    }

    .author-introduction {
      margin-top: 5px;
      font-size: 14px;
      line-height: 1.4;
    }

    .author-socials {
      margin-top: 5px;
    }
    a {
      margin-right: 10px;
      &:hover {
        color: $color-red-violet;
      }
      &.visited {
        text-decoration: none;
      }
    }
  }
}
