.bio {
  display: flex;
  padding: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
  border-radius: 0.2rem;
  border: 1px solid lightgray;
  margin-bottom: 30px;

  .author-image {
    margin: 5px;
    min-width: 80px;
  }

  .author-description {
    margin-left: 15px;
    word-break: break-all;

    .author-name {
      display: inline-block;
      font-family: 'Segoe UI', sans-serif;
      font-size: 30px;
      font-weight: 600;
    }

    .author-introduction {
      margin-top: 5px;
      font-size: 15px;
      line-height: 1.5;
    }

    .author-socials {
      margin-top: 5px;
      svg {
        color: #3d3d3d;
      }
    }
    a {
      color: #000000;
      margin-right: 10px;
      &:hover {
        color: #ce1458;
      }
      &.visited {
        text-decoration: none;
      }
    }
  }
}
