@import '../../../styles/init.scss';

.tag-list {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  a {
    color: $color-black;
    border: 1px solid $color-black;
    @include border-radius(0.2rem);
    margin: 0 0.5rem;
    padding: 0.1rem 0.3rem;
    font-size: 15px;
    &:hover {
      color: $color-red-violet;
    }
  }
}
