// font
$font-familay: 'Noto Sans KR', sans-serif;

// colors
$color-black: #000000;
$color-white: #ffffff;
$color-light-gray: #dcdcdc;
$color-dark-gray: #333;
$color-red-violet: #ce1458;
$color-orange: #f7a046;
$color-blue: #0064ff;

// wrapper
$wrapper-max-width: 39rem;
$wraaper-padding: 1.21875rem;

// layout breakpoint
$layout-breakpoint-sm: 320; // small
$layout-breakpoint-md: 768px; // medium
$layout-breakpoint-lg: 1024px; // large
$layout-breakpoint-wd: 1400px; // wide
