@import '../../styles/init.scss';

.navigation {
  @include main-wrapper(0.3rem);
  text-align: center;

  .nav-list {
    li {
      display: inline-block;
      position: relative;
      padding: 3px 1.5rem;
    }
    a:before {
      content: '#';
      color: $color-red-violet;
      position: absolute;
      left: 0.05em;
      top: 0.14em;
      font: {
        size: 1.1em;
        weight: 600;
      }
    }
    a {
      font-weight: 500;
      &:hover {
        text-decoration: underline;
        color: $color-red-violet;
      }
    }
  }
}
