@import '../../styles/init.scss';

header {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  @include box-shadow(4);
  a {
    font-weight: 600;
    &:hover {
      color: $color-dark-gray;
    }
  }
}
