.header {
  nav {
    width: 100%;
    max-width: 1050px;
    margin: 0px auto;
    padding: 1.5em 0px;
  }

  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    display: inline-block;
    margin-left: 1em;
    padding: 0 1em 0 1em;
    &:first-child {
      position: relative;
      margin: 0;
      flex-basis: 100%;
    }
  }

  a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    transition: all 0.2s;
    &:hover {
      color: #333;
    }
  }
}
