.post-list {
  .post-item {
    padding: 1rem;
    transition: all 0.15s ease-in;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
    outline: none;
    border-radius: 0.2rem;
    border: 1px solid lightgray;

    a {
      color: black;
      .body {
        margin-top: 0;
        font-weight: 300;
        font-size: 17px;
        line-height: 1.5;
      }
    }
    &:hover {
      background: rgba(#333, 0.05);
    }
  }
  .post-item + .post-item {
    border-top: 1px solid lightgray;
  }
}
