.post-list {
  .post-item {
    padding: 1.5rem;
    transition: all 0.15s ease-in;
    a {
      h2 {
        font-size: 2rem;
        font-weight: 500;
        margin: 0;
      }
      transition: all 0.15s ease-in;
      border-bottom: 1px solid transparent;
      text-decoration: none;
      color: black;
      p {
        font-weight: 300;
      }

      .date {
        font-size: 1rem;
      }
      .category {
        color: #ffffff;
        background: rgb(29, 140, 209);
        padding: 0.1rem 0.5rem;
        border-radius: 1rem;
      }
    }

    &:hover {
      background: rgba(#333, 0.05);
    }
  }
  .post-item + .post-item {
    border-top: 1px solid lightgray;
  }
}
