@import '../../../styles/init.scss';

.post-list {
  .post-item {
    padding: 0.7rem;
    transition: all 0.15s ease-in;
    @include box-shadow(3);
    @include border-radius(0.2rem);
    @include border-default();
    outline: none;

    a {
      .body {
        margin: {
          top: 0;
          left: 5px;
        }
        font: {
          size: 15px;
          weight: 300;
        }
        line-height: 1.5;
      }
    }
    &:hover {
      background: rgba(#333, 0.05);
    }
  }
  .post-item + .post-item {
    border-top: 1px solid $color-light-gray;
  }
}
