@import '../../../styles/init.scss';

.post-header {
  word-break: break-all;
  .title {
    font: {
      family: 'Segoe UI', sans-serif;
      size: 40px;
      weight: 600;
    }
    margin: 5px;
  }
  .post-header-sub {
    display: flex;
    margin-left: 5px;
    .date {
      font: {
        size: 16px;
        weight: 300;
      }
    }
    .category {
      margin-left: 1rem;
      color: $color-white;
      @include border-radius(0.2rem);
      border: 1px solid $color-dark-gray;
      background: $color-blue;
      padding: 0.1rem 0.2rem;
    }
  }
}
