@import '../../styles/init.scss';

.footer {
  text-align: center;
  padding-top: 30px;
  font: {
    size: 15px;
    weight: 300;
  }

  .rss-feed {
    margin-top: 1rem;
  }
  hr {
    background: $color-light-gray;
    border: 0;
    height: 1px;
  }
  a {
    font-weight: 500;
    &:hover {
      color: $color-red-violet;
    }
  }
}
