.footer {
  text-align: center;
  font-weight: 300;
  padding-top: 30px;

  hr {
    background: #dcdcdc;
    border: none;
    height: 1px;
  }
  a {
    color: #000000;
    font-weight: 500;
    &:hover {
      color: #ce1458;
    }
  }
}
