@import '../styles/init.scss';

html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  color: $color-black;
  font-family: $font-familay;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: inherit;
}

.wrapper {
  @include main-wrapper();
}

a {
  text-decoration: none;
  color: inherit;
}
